<div class="d-flex justify-content-between m-3">
    <h2>Edit Employee</h2>

    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div style="overflow: auto; height: 450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        
        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Employee ID</span>
            </div>
            <input readonly="readonly" type="text" 
            class="form-control" 
            name="employeeID"
            #employeeID = "ngModel"
            [(ngModel)]="empService.formData.employeeID">
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Employee Name</span>
            </div>
            <input required type="text" minlength="2" 
            class="form-control" 
            name="employeeName"
            #employeeName = "ngModel"
            [(ngModel)]="empService.formData.employeeName">
        </div>
        <div class="text-left text-danger"
        *ngIf="employeeName.invalid && employeeName.touched">
            Please enter Employee Name
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Department</span>
            </div>
            <select required type="text"
            class="form-control" 
            name="department"
            #department = "ngModel"
            [(ngModel)]="empService.formData.department">
            <option *ngFor="let dl of lstDepartments" [value]="dl">
                {{dl}}
            </option>
            </select>
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Email ID</span>
            </div>
            <input required type="text" minlength="2" 
            class="form-control" 
            name="emailID"
            #emailID = "ngModel"
            [(ngModel)]="empService.formData.emailID">
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">DOJ</span>
            </div>
            <input required [matDatepicker]="picker"
            (focus)="picker.open()"
            type="text" 
            class="form-control" 
            name="doj"
            #doj = "ngModel"
            [(ngModel)]="empService.formData.doj">

            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ng-model-options="{ timezone: 'utc' }"></mat-datepicker>
        </div>

        <button class="m-3 btn btn-primary" mat-raised-button
        type="submit" [disabled]="form.invalid">Update Employee</button>
    </form>
</div>
