<div class="d-flex justify-content-between">
    <h2>Add New Department</h2>

    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div style="overflow: auto; height: 450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Department Name</span>
            </div>
            <input required type="text" minlength="2" 
            class="form-control" 
            name="DepartmentName"
            #DepartmentName = "ngModel"
            [(ngModel)]="deptService.formData.departmentName">
        </div>
        <div class="text-left text-danger mt-2"
        *ngIf="DepartmentName.invalid && DepartmentName.touched">
            Please enter Department Name
        </div>
        <button class="mt-4 btn btn-primary" mat-raised-button
        type="submit" [disabled]="form.invalid">Add Department</button>
    </form>
</div>
