<div class="d-flex justify-content-between">
    <h2>Add New Employee</h2>

    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div style="overflow: auto; height: 450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        
        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Employee Name</span>
            </div>
            <input required type="text" minlength="2" 
            class="form-control" 
            name="EmployeeName"
            #EmployeeName = "ngModel"
            [(ngModel)]="empService.formData.employeeName">
        </div>
        <div class="text-left text-danger mt-2"
        *ngIf="EmployeeName.invalid && EmployeeName.touched">
            Please enter Employee Name
        </div>

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Department</span>
            </div>
            <select required type="text"
            class="form-control" 
            name="Department"
            #Department = "ngModel"
            [(ngModel)]="empService.formData.department">
            <option *ngFor="let dl of lstDepartments" [value]="dl">
                {{dl}}
            </option>
            </select>
        </div>

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Email ID</span>
            </div>
            <input required type="text" minlength="2" 
            class="form-control" 
            name="EmailID"
            #EmailID = "ngModel"
            [(ngModel)]="empService.formData.emailID">
        </div>

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">DOJ</span>
            </div>
            <input required [matDatepicker]="picker"
            (focus)="picker.open()"
            type="text" 
            class="form-control" 
            name="DOJ"
            #DOJ = "ngModel"
            [(ngModel)]="empService.formData.doj">

            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </div>

        <button class="mt-4 btn btn-primary" mat-raised-button
        type="submit" [disabled]="form.invalid">Add Employee</button>
    </form>
</div>
