<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)"
    placeholder="filter keyword">
</mat-form-field>

<div style="overflow: auto;">
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="lstDepartment" class="table table-striped" matSort>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

            <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)">
                        <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button color="warning" (click)="onDelete(row.departmentID)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-cell>
            </ng-container> 
            
            <ng-container matColumnDef="departmentID">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Department ID</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.departmentID}}</mat-header-cell>
            </ng-container>

            <ng-container matColumnDef="departmentName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Department Name</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.departmentName}}</mat-header-cell>
            </ng-container>
        </mat-table>

        <mat-paginator
        [ngClass]=" noData ?  'hidden' : 'visible' " 
        [length]="100"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]" 
        showFirstLastButtons></mat-paginator>

        <div [ngClass]=" noData ? 'visible' : 'hidden' "
            style="display: flex; justify-content: center; align-items: center">
            <tr>No results found.</tr>
        </div>

        <mat-card *ngIf="isLoading" 
        style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner 
                color="primary" 
                mode="indeterminate">
            </mat-progress-spinner>
        </mat-card>
    </div>
</div>


<button class="mt-2 btn btn-primary" mat-raised-button (click)="AddDepartment()">Add Department</button>