<div class="d-flex justify-content-between m-3">
    <h2>Edit Department</h2>

    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div style="overflow: auto; height: 450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
        
        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Department ID</span>
            </div>
            <input readonly="readonly" type="text" 
            class="form-control" 
            name="DepartmentID"
            #DepartmentID = "ngModel"
            [(ngModel)]="deptService.formData.departmentID">
        </div>

        <div class="m-3 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Department Name</span>
            </div>
            <input required type="text" minlength="2" 
            class="form-control" 
            name="DepartmentName"
            #DepartmentName = "ngModel"
            [(ngModel)]="deptService.formData.departmentName">
        </div>
        <div class="text-left text-danger"
        *ngIf="DepartmentName.invalid && DepartmentName.touched">
            Please enter Department Name
        </div>

        <button class="m-3 btn btn-primary" mat-raised-button
        type="submit" [disabled]="form.invalid">Update Department</button>
    </form>
</div>
